<ion-view view-title="{{ 'DECOUVRIR_MENU_TITRE' | translate }}" class="lieu-detail">

    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button>

        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content id="discover" class="ion-content padding">
        <h2>{{ 'DECOUVRIR_TITRE' | translate }}</h2>
        <ul>
            <li><p>{{ 'DECOUVRIR_CONTENU_1' | translate }}</p></li>
            <li><p>{{ 'DECOUVRIR_CONTENU_2' | translate }}</p></li>
            <li><p>{{ 'DECOUVRIR_CONTENU_3' | translate }}</p></li>
            <li><p>{{ 'DECOUVRIR_CONTENU_4' | translate }}</p></li>
        </ul>

        <div class="informations">
            <div class="item item-icon-left">
                <i class="icon icon-left ion-information-circled"></i>
                <div class="item_title"><p>{{ 'DECOUVRIR_ADRESSE_1_TITRE' | translate }}</p></div>
                <div><p>Rue Pierre-Péquignat 2</p></div>
                <div><p>2900 Porrentruy</p></div>
                <div class="discover_link tel_link"><a data-tel="+41 32 465 77 77">+41 (0)32 465 77 77</a></div>
                <div class="discover_link"><a onclick="window.open('http://www.porrentruy.ch', '_system', 'location=yes');">www.porrentruy.ch</a></div>
            </div>
            <div class="item item-icon-left">
                <i class="icon icon-left ion-information-circled"></i>
                <div class="item_title"><p>{{ 'DECOUVRIR_ADRESSE_2_TITRE' | translate }}</p></div>
                <div><p>Rue du 23 juin 20</p></div>
                <div><p>2900 Porrentruy</p></div>
                <div class="discover_link tel_link"><a data-tel="+41 32 432 41 80">+41 (0)32 432 41 80</a></div>
                <div class="discover_link"><a onclick="window.open('http://www.juratourisme.ch', '_system', 'location=yes');">www.juratourisme.ch</a></div>
            </div>
            <div class="item item-icon-left">
                <i class="icon icon-left ion-information-circled"></i>
                <div class="item_title"><p>{{ 'DECOUVRIR_ADRESSE_3_TITRE' | translate }}</p></div>
                <div><p>Grand-rue 5</p></div>
                <div><p>2900 Porrentruy</p></div>
                <div class="discover_link tel_link"><a data-tel="+41 32 466 72 72">+41 (0)32 466 72 72</a></div>
                <div class="discover_link"><a onclick="window.open('http://www.mhdp.ch', '_system', 'location=yes');">www.mhdp.ch</a></div>
            </div>
            <div class="item item-icon-left">
                <i class="icon icon-left ion-information-circled"></i>
                <div class="item_title"><p>{{ 'DECOUVRIR_ADRESSE_4_TITRE' | translate }}</p></div>
                <div><p>Route de Fontenais 21</p></div>
                <div><p>2900 Porrentruy</p></div>
                <div class="discover_link tel_link"><a data-tel="+41 32 420 92 00">+41 (0)32 420 92 00</a></div>
                <div class="discover_link"><a onclick="window.open('http://www.mjsn.ch', '_system', 'location=yes');">www.mjsn.ch</a></div>
            </div>
            <div class="item item-icon-left">
                <i class="icon icon-left ion-information-circled"></i>
                <div class="item_title"><p>{{ 'DECOUVRIR_ADRESSE_5_TITRE' | translate }}</p></div>
                <div><p>Route de Fontenais 21</p></div>
                <div><p>2900 Porrentruy</p></div>
                <div class="discover_link tel_link"><a data-tel="+41 32 420 92 00">+41 (0)32 420 92 00</a></div>
                <div class="discover_link"><a onclick="window.open('http://www.jurassica.ch', '_system', 'location=yes');">www.jurassica.ch</a></div>
            </div>
        </div>
    </ion-content>
</ion-view>