<ion-view view-title="Porrentruy" class="wrapper lieu-detail" id="history-page">

    <ion-nav-bar class="bar-stable bar-positive">
        <ion-nav-back-button>

        </ion-nav-back-button>
    </ion-nav-bar>

    {{TabsDisplaySeervice.switchToFalse()}}
    <ion-content class="ion-content" has-bouncing="false" start-y="0">
        <div id="pic-btn-history" class="lieu-slider">
            <div class="lieu-thumbnail-img" style="background-image:url('data/img/histoire/1.jpg')"></div>
        </div>

        <div class="bandeau">
            <ul class="title small-block-grid-1">
                <li>
                    <h1>{{ 'HISTOIRE_TITRE' | translate }}</h1>
                </li>
                <li>
                    <div class="row">
                        <button class="button-block dates historyButton" id="switchToHistoire">{{ 'HISTOIRE_HISTOIRE_TITRE' | translate }}</button>
                        <button class="button-block dates historyButton" id="switchToDates">{{ 'HISTOIRE_DATES_TITRE' | translate }}</button>
                    </div>
                </li>
            </ul>
        </div>

        <div class="history">
            <div class="history-text">
                <p>{{ 'HISTOIRE_HISTOIRE_CONTENU_1' | translate }}</p>
            </div>

            <div class="history-text">
                <p>{{ 'HISTOIRE_HISTOIRE_CONTENU_2' | translate }}</p>
            </div>

            <div class="history-text">
                <p>{{ 'HISTOIRE_HISTOIRE_CONTENU_3' | translate }}</p>
            </div>

            <div class="history-text">
                <p>{{ 'HISTOIRE_HISTOIRE_CONTENU_4' | translate }}</p>
            </div>

            <div class="history-text">
                <p>{{ 'HISTOIRE_HISTOIRE_CONTENU_5' | translate }}</p>
            </div>


            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1283</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_1' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1528</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_2' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1575 – 1608</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_3' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1618 – 1648</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_4' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1730 – 1740</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_5' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1770</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_6' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1792</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_7' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1793 – 1800</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_8' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1815</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_9' | translate }}</p>
                </div>
            </div>

            <div class="card history-date">
                <div class="item item-divider">
                    <h3>1979</h3>
                </div>
                <div class="item item-text-wrap">
                    <p>{{ 'HISTOIRE_DATES_CONTENU_10' | translate }}</p>
                </div>
            </div>
        </div>
        <div style="height:55px; width:100%;"></div>
    </ion-content>
</ion-view>